.description {
  position: relative;
  margin-bottom: 150px;

  &::after {
    content: "";
    position: absolute;
    background-image: url("../img/Travel-dt@1x.jpg");
    background-color: $silver;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 860px;
    width: 100%;
    top: 0;
    z-index: -1;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/Travel-dt@2x.jpg");
    }

    @media (max-width: $tablet-width-only) {
      min-height: 344px;
    }

    @media (max-width: $mobile-width-only) {
      background-image: url("../img/Travel-tablet@1x.jpg");
      min-height: 235px;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/Travel-tablet@2x.jpg");
      }
    }

    @media (max-width: $mobile-width) {
      background-image: url("../img/Travel-mobile@1x.jpg");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/Travel-mobile@2x.jpg");
      }
    }
  }
  @media (max-width: $tablet-width-only) {    
    margin-bottom: 30px;
  }
}
.description__wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  min-height: 860px;
  margin: 0 auto;

  @media (max-width: $tablet-width-only) {
    justify-content: center;
    width: 100%;
    min-height: 344px;
    align-items: start;
  }
}

.description__wrapper-info {
  width: 412px;
  min-height: 379px;
  margin-top: -109px;
  margin-right: 65px;
  color: $white;

  @media (max-width: $tablet-width-only) {
    width: 92%;
    text-align: center;
    min-height: 201px;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
  }
  @media (max-width: $mobile-width-only) {
    width: 100%;
  }
}

.description__title {
  @include title-desktop;
  width: 412px;
  min-height: 159px;
  margin: 0 auto;
  margin-bottom: 26px;
  letter-spacing: -1px;
  color: inherit;

  @media (max-width: $tablet-width-only) {
    width: 398px;
    line-height: 150%;
    text-align: center;
    color: $white;
    min-height: 45px;
    font-size: 32px;
    padding-top: 58px;
  }

  @media (max-width: $mobile-width-only) {
    max-width: 294px;
    min-height: 72px;
    margin-top: 0;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: 0;
    padding-top: 82px 0 50px;
  }
}

.description__text {
  @include text;
  width: 82%;
  min-height: 76px;
  margin-top: 29px;
  margin-bottom: 33px;

  @media (max-width: $tablet-width-only) {
    width: 398px;
    text-align: center;
    letter-spacing: -0.5px;
    color: $white;
    margin: 14px auto 10px;  
  }

  @media (max-width: $mobile-width-only) {
    width: 85%;
    color: $dark;
    margin-top: 99px;
    margin-bottom: 20px;
  }
}

.description__button {
  display: block;
  width: 73%;
  position: relative;
  font-size: 12px;

  &::before {
    position: absolute;
    content: "";
    right: 40px;
    width: 14px;
    height: 16px;
    background-image: url("../img/arrow.svg");
  }

  @media (max-width: $tablet-width-only) {
    width: 250px;
    margin: 0 auto;
  }

  @media (max-width: $mobile-width-only) {
    width: 100%;
  }
}

.description__button span {
  display: block;
  width: 230px;
  padding: 0 20px 0 41px;

  @media (max-width: $tablet-width-only) {
    width: 80%;
    font-weight: 700;
  }

  @media (max-width: $mobile-width-only) {
    padding-left: 36px;
    width: 190px;
    font-size: 10px;
  }
}
