.description {
  min-height: 860px;
  background-color: $silver;
  margin-bottom: 200px;
  background: url("../img/Travel-dt@1x.jpg") center no-repeat;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-color: $silver;
    background-image: url("../img/Travel-dt@2x.jpg");
    background-size: 1150px auto;
  }

  @media (max-width: $tablet-width-only) {
    min-height: 344px;
    margin-bottom: 80px;
    background: url("../img/Travel-tablet@1x.jpg") center no-repeat;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background: url("../img/Travel-tablet@2x.jpg") center no-repeat;
      background-size: cover;
    }
  }

  @media (max-width: $mobile-width-only) {
    min-height: 435px;
    margin-bottom: 84px;
    background: url("../img/Travel-mobile@1x.jpg") top no-repeat;
    background-size: 100%;

    @media (min-resolution: 2dppx) {
      background: url("../img/Travel-mobile@2x.jpg") top no-repeat;
      background-size: 100%;
    }
  }
}

.description__wrapper {
  max-width: $desktop-width;
  margin: 0 auto;

  @media (max-width: $tablet-width-only) {
    width: 76.7%;
    margin: 0 auto;
  }

  @media (max-width: $tablet-width-only) {
    width: 91%;
    margin: 0 auto;
  }
}

.description__wrapper-info {
  width: 467px;
  min-height: 380px;
  margin-left: auto;
  padding: 180px 0 295px;
  color: $white;

  @media (max-width: $tablet-width-only) {
    width: 400px;
    margin: 0 auto;
  }

  @media (max-width: $tablet-width-only) {
    width: 100%;
    margin: 0 auto;
    padding: 75px 0 20px;
  }
}

.description__title {
  @include title-desktop;

  margin-bottom: 26px;
  letter-spacing: -1px;

  color: inherit;

  @media (max-width: $tablet-width-only) {
    @include title-tablet;
    text-align: center;
     margin-bottom: 15px;
  }

  @media (max-width: $mobile-width-only) {
    @include title-mobile;
    margin-bottom: 100px;
    text-align: center;
    letter-spacing: 0;
  }
}

.description__text {
  @include text;

  width: 82%;
  margin-bottom: 30px;
  letter-spacing: -0.5px;

  @media (max-width: $tablet-width-only) {
    width: 55%;
    margin: 0 auto;
    text-align: center;
  }

  @media (max-width: $mobile-width-only) {
    width: 100%;
    margin-bottom: 12px;
    text-align: center;
    color: $dark;
  }
}

.description__button {
  display: block;
  width: 73%;
  position: relative;
  font-size: 12px;

  &::before {
    position: absolute;
    content: "";
    right: 40px;
    width: 14px;
    height: 16px;
    background-image: url("../img/arrow.svg");
    // background-repeat: no-repeat;
    // background-size: contain;
  }

  @media (max-width: $tablet-width-only) {
    width: 37.4%;
    margin: 0 auto;
  }

  @media (max-width: $mobile-width-only) {
    width: 100%;
  }
}

.description__button span {
  display: block;
  width: 230px;
  padding: 0 20px 0 41px;

  @media (max-width: $tablet-width-only) {
    width: 80%;
  }

  @media (max-width: $mobile-width-only) {
    padding-left: 36px;
    width: 190px;
    font-size: 10px;
    font-weight: 500;
  }
}
