.details {  
  max-width: $desktop-width;
  margin: 0 auto;
  padding-bottom: 233px;
  background-image: url("../img/bg-review.jpg");
  background-repeat: no-repeat;
  background-size: contain;

  @media (max-width: $tablet-width-only) {
    background-image: none;
    max-width: 768px;   
    padding-bottom: 80px;
  }

  @media (max-width: $mobile-width-only) {
    width: 100%;
  }
}

.details__tabs {
  @media (max-width: $tablet-width-only) {
    max-width: 768px;
  }

  @media (max-width: $mobile-width-only) {
    width: 91%;
  }
}

.details__list {
  @media (max-width: $tablet-width-only) {
    max-width: 768px;
  }

  @media (max-width: $mobile-width-only) {
    width: 91%;
  }
}
