.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 32px;
  padding-bottom: 75px;

  @media (max-width: $tablet-width-only) {
    display: flex;
    flex-wrap: wrap;
    padding: 0 30px;
    justify-content: space-around;
  }

  @media (max-width: $mobile-width-only) {
    grid-template-columns: 100%;
    grid-row-gap: 20px;
    padding-bottom: 0;
  }
}

.footer__next-travels { 
  width: 350px;
  padding-left: 18px;

  @media (max-width: $tablet-width-only) {  
    padding: 0;
    padding-bottom: 30px;
  }

  @media (max-width: $mobile-width-only) {
    margin: 0 auto;
    padding: 0;
  }
}

.footer__corporate-travels {
  @media (max-width: $tablet-width-only) {  
    text-align: center;
    padding-bottom: 80px;
  }

  @media (max-width: $mobile-width-only) {
    margin: 0 auto;
  }
}

.footer__contacts {
  padding-left: 73px;

  @media (max-width: $tablet-width-only) {  
    padding-left: 25px;
  }

  @media (max-width: $mobile-width-only) {
    margin: 0 auto;
    padding: 0;
  }
}
