.header {
  position: relative;
  width: 100%;

  @media (max-width: $tablet-width-only) {
    min-height: 35px;
  }
}

.header__toggle {
  border: 0;
  @media (max-width: $tablet-width-only) {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(-30%);

    width: 72px;
    height: 50px;
    border: 0;
    cursor: pointer;
  }

  @media (max-width: $mobile-width-only) {
    width: 50px;
    height: 50px;
  }
}

.header__nav {
  width: $desktop-width;
  margin: 40px 15px 27px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (max-width: $tablet-width-only) {
    width: 81%;
    margin: 18px 15px 14px 21px;    

    &--nojs {
      justify-content: center;
      margin: 0 auto;
    }
  }

  @media (max-width: $mobile-width-only) {
    width: 91%;
    margin: 15px auto;
  }

  &--nojs .header__toggle {
    display: none;
  }

  &--nojs .header__nav-wrapper,
  &--opened .header__nav-wrapper {
    @media (max-width: $tablet-width-only) {
      display: block;
      width: 100%;
      margin: 20px 0 0;
      text-align: center;
    }
  }

  &--nojs .header__site-list,
  &--opened .header__site-list {
    @media (max-width: $tablet-width-only) {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
    }
  }

  &--nojs .site-list {
    @media (max-width: $tablet-width-only) {
      margin: 0 auto;
    }
  }

  &--closed .header__toggle {
    display: none;

    @media (max-width: $tablet-width-only) {
      display: block;
      background: $main-accent url("../img/menu.svg") no-repeat 50%;
      border: 0;
      cursor: pointer;
    }
  }

  &--closed .header__nav-wrapper {
    @media (max-width: $tablet-width-only) {
      display: none;
    }
  }

  &--opened .header__toggle {
    display: none;

    @media (max-width: $tablet-width-only) {
      display: block;
      background: url("../img/closemodal.svg") no-repeat 50%;
      border: 0;
      cursor: pointer;
    }
  }
}

.header__logo {
  display: block;
  width: 57px;
  height: 22px;

  @media (max-width: $tablet-width-only) {
    width: 44px;
    height: 17px;
  }
}

.header__nav-wrapper {
  display: flex;
  flex-wrap: wrap;

  @media (max-width: $tablet-width-only) {
    display: none;    
  }
}

.header__phone {
  position: relative;
  margin-left: 10px;
  line-height: 32px;
  color: $dark;

  &::before {
    position: absolute;
    content: "";
    left: -44px;
    top: 0;
    width: 30px;
    height: 30px;
    background-image: url("../img/phone.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  @media (max-width: $tablet-width-only) {
    display: none;
  }
}
