.tabs {
  position: relative;
  @include ul-reset;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 94px;

  &::before {
    position: absolute;
    content: "";
    left: 2px;
    bottom: -12px;
    width: 900px;
    height: 1px;
    background-color: $light-underline;
  }

  @media (max-width: $tablet-width-only) { 
    justify-content: center; 
    width: 91%;
    margin: 25px auto 15px;   

    &::before {
      display: none;
    }
  }
}

.tabs__item {
  @include text-tabs;
  margin-right: 99px;
  letter-spacing: -0.4px;
  color: rgba(44, 46, 63, 0.3);

  &--active {
    color: $main-accent;
  }

  @media (max-width: $tablet-width-only) {  
    margin: 0 30px 30px 0;
  }

  @media (max-width: $mobile-width) {
    margin-right: 70px;
  }
}

.tabs__item--hidden {
  @media (max-width: $mobile-width) {
    display: none;
  }
}
