.travels-list {
  @include ul-reset;
  width: 260px;

  @media (max-width: $mobile-width-only) {
    width: 65%;
    margin: 0 auto;
  }
}

.travel-list__link {
  margin: 0;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  color: $lightgray-text;
}
